/* news center */
.sj_news-center {
  width: 100%;
  height: auto;
  background: url('/assets/base64/sj_news-bg.jpg') no-repeat;
  background-position: center top;
}

.sj_news-center .sj_wrapper {
  padding: 16px;
  background: #fff;
}

.sj_tab {
  display: flex;
}

.sj_tab-item {
  width: 94px;
  height: 38px;
  line-height: 38px;
  margin-right: 34px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: #2962d8;
  cursor: pointer;
}

.sj_tab-item.active,
.sj_tab-item:hover {
  background: #c62631;
}

@media(min-width: 992px) {
  .sj_news-center {
    min-height: 594px;
    padding-bottom: 86px;
  }
}